<a href="https://colab.research.google.com/github/Pragna235/Data-Preprocessing/blob/main/Thyroid_Detection_Project_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Thyroid Detection ML Project - Preprocessing

# 1. Collection of data in a Dataset

In [2]:
#import drive from google.colab to access and modify csv files stored in google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 2. Importing Libraries

In [3]:
#import necessary libraries and modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split

# 3. Importing Datasets

In [4]:
#Import and read the dataset
data = pd.read_csv("/content/drive/MyDrive/thyroidDF.csv")
data

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,M,f,f,f,f,f,f,f,f,...,64.0,t,0.83,t,77.0,f,NaN,SVI,-,870119022
9168,22,M,f,f,f,f,f,f,f,f,...,91.0,t,0.92,t,99.0,f,NaN,SVI,-,870119023
9169,69,M,f,f,f,f,f,f,f,f,...,113.0,t,1.27,t,89.0,f,NaN,SVI,I,870119025
9170,47,F,f,f,f,f,f,f,f,f,...,75.0,t,0.85,t,88.0,f,NaN,other,-,870119027
9171,31,M,f,f,f,f,f,f,f,t,...,66.0,t,1.02,t,65.0,f,NaN,other,-,870119035

In [5]:
#Print first 5 rows of the dataset
data.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047

In [8]:
#Print last 5 rows of the dataset
data.tail()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
9167,56,M,f,f,f,f,f,f,f,f,...,64.0,t,0.83,t,77.0,f,NaN,SVI,-,870119022
9168,22,M,f,f,f,f,f,f,f,f,...,91.0,t,0.92,t,99.0,f,NaN,SVI,-,870119023
9169,69,M,f,f,f,f,f,f,f,f,...,113.0,t,1.27,t,89.0,f,NaN,SVI,I,870119025
9170,47,F,f,f,f,f,f,f,f,f,...,75.0,t,0.85,t,88.0,f,NaN,other,-,870119027
9171,31,M,f,f,f,f,f,f,f,t,...,66.0,t,1.02,t,65.0,f,NaN,other,-,870119035

In [9]:
#Print the shape of the dataset
data.shape

(9172, 31)

In [10]:
#Examine the Statistics of the dataset
data.describe()

,age,TSH,T3,TT4,T4U,FTI,TBG,patient_id
count,9172.000000,8330.000000,6568.000000,8730.000000,8363.000000,8370.000000,349.000000,9.172000e+03
mean,73.555822,5.218403,1.970629,108.700305,0.976056,113.640746,29.870057,8.529473e+08
std,1183.976718,24.184006,0.887579,37.522670,0.200360,41.551650,21.080504,7.581969e+06
min,1.000000,0.005000,0.050000,2.000000,0.170000,1.400000,0.100000,8.408010e+08
25%,37.000000,0.460000,1.500000,87.000000,0.860000,93.000000,21.000000,8.504090e+08
50%,55.000000,1.400000,1.900000,104.000000,0.960000,109.000000,26.000000,8.510040e+08
75%,68.000000,2.700000,2.300000,126.000000,1.065000,128.000000,31.000000,8.607110e+08
max,65526.000000,530.000000,18.000000,600.000000,2.330000,881.000000,200.000000,8.701190e+08

In [11]:
#Find datatypes of attributes in the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9172 entries, 0 to 9171
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  9172 non-null   int64
 1   sex                  8865 non-null   object
 2   on_thyroxine         9172 non-null   object
 3   query_on_thyroxine   9172 non-null   object
 4   on_antithyroid_meds  9172 non-null   object
 5   sick                 9172 non-null   object
 6   pregnant             9172 non-null   object
 7   thyroid_surgery      9172 non-null   object
 8   I131_treatment       9172 non-null   object
 9   query_hypothyroid    9172 non-null   object
 10  query_hyperthyroid   9172 non-null   object
 11  lithium              9172 non-null   object
 12  goitre               9172 non-null   object
 13  tumor                9172 non-null   object
 14  hypopituitary        9172 non-null   object
 15  psych                9172 non-null   object
 16  TSH_measured         9172 non-null   object
 17  TSH                  8330 non-null   float64
 18  T3_measured          9172 non-null   object
 19  T3                   6568 non-null   float64
 20  TT4_measured         9172 non-null   object
 21  TT4                  8730 non-null   float64
 22  T4U_measured         9172 non-null   object
 23  T4U                  8363 non-null   float64
 24  FTI_measured         9172 non-null   object
 25  FTI                  8370 non-null   float64
 26  TBG_measured         9172 non-null   object
 27  TBG                  349 non-null    float64
 28  referral_source      9172 non-null   object
 29  target               9172 non-null   object
 30  patient_id           9172 non-null   int64
dtypes: float64(6), int64(2), object(23)
memory usage: 2.2+ MB

In [12]:
#Find if there are any duplicate values in the dataset
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9167    False
9168    False
9169    False
9170    False
9171    False
Length: 9172, dtype: bool

In [14]:
#Represent the duplicated data
data[data.duplicated()]

Empty DataFrame
Columns: [age, sex, on_thyroxine, query_on_thyroxine, on_antithyroid_meds, sick, pregnant, thyroid_surgery, I131_treatment, query_hypothyroid, query_hyperthyroid, lithium, goitre, tumor, hypopituitary, psych, TSH_measured, TSH, T3_measured, T3, TT4_measured, TT4, T4U_measured, T4U, FTI_measured, FTI, TBG_measured, TBG, referral_source, target, patient_id]
Index: []

[0 rows x 31 columns]

In [15]:
# Remove duplicates if any
data.drop_duplicates() #for removing duplicate rows

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,M,f,f,f,f,f,f,f,f,...,64.0,t,0.83,t,77.0,f,NaN,SVI,-,870119022
9168,22,M,f,f,f,f,f,f,f,f,...,91.0,t,0.92,t,99.0,f,NaN,SVI,-,870119023
9169,69,M,f,f,f,f,f,f,f,f,...,113.0,t,1.27,t,89.0,f,NaN,SVI,I,870119025
9170,47,F,f,f,f,f,f,f,f,f,...,75.0,t,0.85,t,88.0,f,NaN,other,-,870119027
9171,31,M,f,f,f,f,f,f,f,t,...,66.0,t,1.02,t,65.0,f,NaN,other,-,870119035

# 4. Finding Missing Data

In [16]:
#Print the number of null values in each attribute of the dataset
data.isnull()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,True,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
9168,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
9169,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
9170,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
9171,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [17]:
data.isnull().sum()

age                       0
sex                     307
on_thyroxine              0
query_on_thyroxine        0
on_antithyroid_meds       0
sick                      0
pregnant                  0
thyroid_surgery           0
I131_treatment            0
query_hypothyroid         0
query_hyperthyroid        0
lithium                   0
goitre                    0
tumor                     0
hypopituitary             0
psych                     0
TSH_measured              0
TSH                     842
T3_measured               0
T3                     2604
TT4_measured              0
TT4                     442
T4U_measured              0
T4U                     809
FTI_measured              0
FTI                     802
TBG_measured              0
TBG                    8823
referral_source           0
target                    0
patient_id                0
dtype: int64

In [33]:
# Get all the 31 column names for reference
data.columns

Index(['age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_meds', 'sick', 'pregnant', 'thyroid_surgery',
       'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH_measured', 'TSH',
       'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U',
       'FTI_measured', 'FTI', 'TBG_measured', 'TBG', 'referral_source',
       'target', 'patient_id'],
      dtype='object')

# 5. Encoding Categorical Data

In [34]:
#One Hot Encoder - To transform categorical data into numerical data

cat_features = ['sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_meds', 'sick', 'pregnant', 'thyroid_surgery',
       'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH_measured',
       'T3_measured', 'TT4_measured', 'T4U_measured',
       'FTI_measured', 'TBG_measured',  'referral_source']

df_one_hot_encoded = pd.get_dummies(data,columns=cat_features,drop_first=True)

df_one_hot_encoded

,age,TSH,T3,TT4,T4U,FTI,TBG,target,patient_id,sex_M,...,T3_measured_t,TT4_measured_t,T4U_measured_t,FTI_measured_t,TBG_measured_t,referral_source_SVHC,referral_source_SVHD,referral_source_SVI,referral_source_WEST,referral_source_other
0,29,0.3,NaN,NaN,NaN,NaN,NaN,-,840801013,0,...,0,0,0,0,0,0,0,0,0,1
1,29,1.6,1.9,128.0,NaN,NaN,NaN,-,840801014,0,...,1,1,0,0,0,0,0,0,0,1
2,41,NaN,NaN,NaN,NaN,NaN,11.0,-,840801042,0,...,0,0,0,0,1,0,0,0,0,1
3,36,NaN,NaN,NaN,NaN,NaN,26.0,-,840803046,0,...,0,0,0,0,1,0,0,0,0,1
4,32,NaN,NaN,NaN,NaN,NaN,36.0,S,840803047,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,NaN,NaN,64.0,0.83,77.0,NaN,-,870119022,1,...,0,1,1,1,0,0,0,1,0,0
9168,22,NaN,NaN,91.0,0.92,99.0,NaN,-,870119023,1,...,0,1,1,1,0,0,0,1,0,0
9169,69,NaN,NaN,113.0,1.27,89.0,NaN,I,870119025,1,...,0,1,1,1,0,0,0,1,0,0
9170,47,NaN,NaN,75.0,0.85,88.0,NaN,-,870119027,0,...,0,1,1,1,0,0,0,0,0,1
9171,31,NaN,NaN,66.0,1.02,65.0,NaN,-,870119035,1,...,0,1,1,1,0,0,0,0,0,1

In [35]:
# Get the column names after one hot encoding
df_one_hot_encoded.columns

Index(['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'TBG', 'target', 'patient_id',
       'sex_M', 'on_thyroxine_t', 'query_on_thyroxine_t',
       'on_antithyroid_meds_t', 'sick_t', 'pregnant_t', 'thyroid_surgery_t',
       'I131_treatment_t', 'query_hypothyroid_t', 'query_hyperthyroid_t',
       'lithium_t', 'goitre_t', 'tumor_t', 'hypopituitary_t', 'psych_t',
       'TSH_measured_t', 'T3_measured_t', 'TT4_measured_t', 'T4U_measured_t',
       'FTI_measured_t', 'TBG_measured_t', 'referral_source_SVHC',
       'referral_source_SVHD', 'referral_source_SVI', 'referral_source_WEST',
       'referral_source_other'],
      dtype='object')

In [36]:
#Label Encoder
label = LabelEncoder()
df_one_hot_encoded['target'] = label.fit_transform(df_one_hot_encoded['target'])
df_one_hot_encoded

,age,TSH,T3,TT4,T4U,FTI,TBG,target,patient_id,sex_M,...,T3_measured_t,TT4_measured_t,T4U_measured_t,FTI_measured_t,TBG_measured_t,referral_source_SVHC,referral_source_SVHD,referral_source_SVI,referral_source_WEST,referral_source_other
0,29,0.3,NaN,NaN,NaN,NaN,NaN,0,840801013,0,...,0,0,0,0,0,0,0,0,0,1
1,29,1.6,1.9,128.0,NaN,NaN,NaN,0,840801014,0,...,1,1,0,0,0,0,0,0,0,1
2,41,NaN,NaN,NaN,NaN,NaN,11.0,0,840801042,0,...,0,0,0,0,1,0,0,0,0,1
3,36,NaN,NaN,NaN,NaN,NaN,26.0,0,840803046,0,...,0,0,0,0,1,0,0,0,0,1
4,32,NaN,NaN,NaN,NaN,NaN,36.0,31,840803047,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,NaN,NaN,64.0,0.83,77.0,NaN,0,870119022,1,...,0,1,1,1,0,0,0,1,0,0
9168,22,NaN,NaN,91.0,0.92,99.0,NaN,0,870119023,1,...,0,1,1,1,0,0,0,1,0,0
9169,69,NaN,NaN,113.0,1.27,89.0,NaN,16,870119025,1,...,0,1,1,1,0,0,0,1,0,0
9170,47,NaN,NaN,75.0,0.85,88.0,NaN,0,870119027,0,...,0,1,1,1,0,0,0,0,0,1
9171,31,NaN,NaN,66.0,1.02,65.0,NaN,0,870119035,1,...,0,1,1,1,0,0,0,0,0,1

In [37]:
df_one_hot_encoded.columns

Index(['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'TBG', 'target', 'patient_id',
       'sex_M', 'on_thyroxine_t', 'query_on_thyroxine_t',
       'on_antithyroid_meds_t', 'sick_t', 'pregnant_t', 'thyroid_surgery_t',
       'I131_treatment_t', 'query_hypothyroid_t', 'query_hyperthyroid_t',
       'lithium_t', 'goitre_t', 'tumor_t', 'hypopituitary_t', 'psych_t',
       'TSH_measured_t', 'T3_measured_t', 'TT4_measured_t', 'T4U_measured_t',
       'FTI_measured_t', 'TBG_measured_t', 'referral_source_SVHC',
       'referral_source_SVHD', 'referral_source_SVI', 'referral_source_WEST',
       'referral_source_other'],
      dtype='object')

In [38]:
#Data transformation using KNN Imputer

imputer = KNNImputer(n_neighbors=2)
data_filled = imputer.fit_transform(df_one_hot_encoded)
data_filled = pd.DataFrame(data_filled,columns = ['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'TBG', 'target', 'patient_id',
       'sex_M', 'on_thyroxine_t', 'query_on_thyroxine_t',
       'on_antithyroid_meds_t', 'sick_t', 'pregnant_t', 'thyroid_surgery_t',
       'I131_treatment_t', 'query_hypothyroid_t', 'query_hyperthyroid_t',
       'lithium_t', 'goitre_t', 'tumor_t', 'hypopituitary_t', 'psych_t',
       'TSH_measured_t', 'T3_measured_t', 'TT4_measured_t', 'T4U_measured_t',
       'FTI_measured_t', 'TBG_measured_t', 'referral_source_SVHC',
       'referral_source_SVHD', 'referral_source_SVI', 'referral_source_WEST',
       'referral_source_other'])
data_filled

,age,TSH,T3,TT4,T4U,FTI,TBG,target,patient_id,sex_M,...,T3_measured_t,TT4_measured_t,T4U_measured_t,FTI_measured_t,TBG_measured_t,referral_source_SVHC,referral_source_SVHD,referral_source_SVI,referral_source_WEST,referral_source_other
0,29.0,0.300,2.25,122.0,1.04,66.0,18.5,0.0,840801013.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,29.0,1.600,1.90,128.0,1.04,66.0,18.5,0.0,840801014.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,41.0,0.950,2.25,122.0,1.04,66.0,11.0,0.0,840801042.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,36.0,0.950,2.25,122.0,1.04,66.0,26.0,0.0,840803046.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,32.0,0.950,2.25,122.0,1.04,66.0,36.0,31.0,840803047.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56.0,0.575,1.55,64.0,0.83,77.0,30.0,0.0,870119022.0,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
9168,22.0,0.575,1.55,91.0,0.92,99.0,30.0,0.0,870119023.0,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
9169,69.0,0.575,1.55,113.0,1.27,89.0,30.0,16.0,870119025.0,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
9170,47.0,0.575,1.55,75.0,0.85,88.0,30.0,0.0,870119027.0,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
9171,31.0,0.575,1.55,66.0,1.02,65.0,30.0,0.0,870119035.0,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [39]:
#Verify if all the missing values are dealt with
data_filled.isnull().sum()

age                      0
TSH                      0
T3                       0
TT4                      0
T4U                      0
FTI                      0
TBG                      0
target                   0
patient_id               0
sex_M                    0
on_thyroxine_t           0
query_on_thyroxine_t     0
on_antithyroid_meds_t    0
sick_t                   0
pregnant_t               0
thyroid_surgery_t        0
I131_treatment_t         0
query_hypothyroid_t      0
query_hyperthyroid_t     0
lithium_t                0
goitre_t                 0
tumor_t                  0
hypopituitary_t          0
psych_t                  0
TSH_measured_t           0
T3_measured_t            0
TT4_measured_t           0
T4U_measured_t           0
FTI_measured_t           0
TBG_measured_t           0
referral_source_SVHC     0
referral_source_SVHD     0
referral_source_SVI      0
referral_source_WEST     0
referral_source_other    0
dtype: int64

In [40]:
# reindex the output attribute for east data splitting
new_cols = ['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'TBG', 'patient_id',
       'sex_M', 'on_thyroxine_t', 'query_on_thyroxine_t',
       'on_antithyroid_meds_t', 'sick_t', 'pregnant_t', 'thyroid_surgery_t',
       'I131_treatment_t', 'query_hypothyroid_t', 'query_hyperthyroid_t',
       'lithium_t', 'goitre_t', 'tumor_t', 'hypopituitary_t', 'psych_t',
       'TSH_measured_t', 'T3_measured_t', 'TT4_measured_t', 'T4U_measured_t',
       'FTI_measured_t', 'TBG_measured_t', 'referral_source_SVHC',
       'referral_source_SVHD', 'referral_source_SVI', 'referral_source_WEST',
       'referral_source_other','target']
data_filled = data_filled.reindex(columns=new_cols)
data_filled

,age,TSH,T3,TT4,T4U,FTI,TBG,patient_id,sex_M,on_thyroxine_t,...,TT4_measured_t,T4U_measured_t,FTI_measured_t,TBG_measured_t,referral_source_SVHC,referral_source_SVHD,referral_source_SVI,referral_source_WEST,referral_source_other,target
0,29.0,0.300,2.25,122.0,1.04,66.0,18.5,840801013.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,29.0,1.600,1.90,128.0,1.04,66.0,18.5,840801014.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,41.0,0.950,2.25,122.0,1.04,66.0,11.0,840801042.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,36.0,0.950,2.25,122.0,1.04,66.0,26.0,840803046.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,32.0,0.950,2.25,122.0,1.04,66.0,36.0,840803047.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56.0,0.575,1.55,64.0,0.83,77.0,30.0,870119022.0,1.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9168,22.0,0.575,1.55,91.0,0.92,99.0,30.0,870119023.0,1.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9169,69.0,0.575,1.55,113.0,1.27,89.0,30.0,870119025.0,1.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,16.0
9170,47.0,0.575,1.55,75.0,0.85,88.0,30.0,870119027.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9171,31.0,0.575,1.55,66.0,1.02,65.0,30.0,870119035.0,1.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

# 6. Splitting dataset into training and test sets

In [41]:
#train and test splitting
x = data_filled.iloc[:,:-1].values
y = data_filled.iloc[:,-1].values

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1,random_state=0)

x_train

array([[55.  ,  1.6 ,  0.9 , ...,  1.  ,  0.  ,  0.  ],
       [45.  ,  0.77,  1.7 , ...,  0.  ,  0.  ,  1.  ],
       [78.  ,  0.17,  1.7 , ...,  1.  ,  0.  ,  0.  ],
       ...,
       [84.  ,  1.4 ,  2.5 , ...,  0.  ,  0.  ,  0.  ],
       [73.  ,  9.9 ,  0.7 , ...,  1.  ,  0.  ,  0.  ],
       [36.  ,  0.2 ,  3.2 , ...,  0.  ,  0.  ,  0.  ]])

# 7. Feature Scaling

In [42]:
# Standardization or Normalization of data
# Standardizing

stdsc = StandardScaler()
x_train = stdsc.fit_transform(x_train)
x_train

array([[-0.01671415, -0.15063069, -1.3306824 , ...,  1.68654502,
        -0.0190681 , -1.22616802],
       [-0.02472713, -0.18543701, -0.33118779, ..., -0.59292814,
        -0.0190681 ,  0.81554891],
       [ 0.00171569, -0.21059821, -0.33118779, ...,  1.68654502,
        -0.0190681 , -1.22616802],
       ...,
       [ 0.00652348, -0.15901776,  0.66830683, ..., -0.59292814,
        -0.0190681 , -1.22616802],
       [-0.00229079,  0.19743253, -1.58055606, ...,  1.68654502,
        -0.0190681 , -1.22616802],
       [-0.0319388 , -0.20934015,  1.54286461, ..., -0.59292814,
        -0.0190681 , -1.22616802]])